body {
    background: url('/media/about-background.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #ffffff;
    font-family: 'Mulish';
}

.about-container {
    padding-bottom: 10vh !important;
}

@media screen and (max-width: 767px) {
    .home-title {
        padding-top: 10vh;
        font-size: 2rem;
        line-height: 6vh;
    }
}