{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'quiz/css/quiz.css' %}">
{% endblock %}

{% block page_header %}
<div class="header-container">
    <div class="row">
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid pt-3 pb-5">
    <div class="container">
        <div class="card my-1 my-lg-5">
            <div class="row">
                <div class="col-12 card-header">
                    <h1>Coffee Recommendation Quiz</h1>
                </div>
            </div>
            <div class="row quiz-content">
                <form id="quizForm">
                    <div class="question">
                        <p>1. How do you like to make your coffee normally?</p>
                        <label>
                            <input type="radio" name="q1" value="espresso"> Espresso
                        </label><br>
                        <label>
                            <input type="radio" name="q1" value="filter"> Filter
                        </label><br>
                        <label>
                            <input type="radio" name="q1" value="whole-bean"> Bean to cup
                        </label><br>
                        <label>
                            <input type="radio" name="q1" value="cafetiere"> Cafetiere
                        </label>
                    </div>
                    <div class="question">
                        <p>2. Do you drink caffeinated or prefer decaf?</p>
                        <label>
                            <input type="radio" name="q2" value="caffeinated"> Caffeinated
                        </label><br>
                        <label>
                            <input type="radio" name="q2" value="decaf"> Decaf
                        </label><br>
                        <label>
                            <input type="radio" name="q2" value="either"> I don't mind
                        </label><br>
                    </div>
                    <div class="question">
                        <p>3. What flavour notes do like the most?</p>
                        <label>
                            <input type="radio" name="q3" value="caramel-chocolate-sweet"> Caramel, Chocolate, Sweet
                        </label><br>
                        <label>
                            <input type="radio" name="q3" value="floral-rose"> Floral, Rose
                        </label><br>
                        <label>
                            <input type="radio" name="q3" value="fruity-light"> Fruity, Light
                        </label>
                    </div>
                    <button aria-label="submit questions for recommendation result" type="button" class="btn-blue"
                        onclick="showResult()">Submit</button>
                </form>
            </div>
            <div class="row">
                <div class="result" id="result"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'quiz/js/quiz.js' %}"></script>
{% endblock %}