body {
    font-family: 'Mulish';
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 200px;
    
}

.quiz-header {
    text-align: center;
    font-family: 'Playwrite IE';
    color: #007BA0;
    padding: 2%;
}

.quiz-content {
    padding: 5%;

}

.question {
    margin-bottom: 20px;
}
.result {
    text-align: center;
    display: none;
    font-weight: bold;
    color: #007BA0;
    padding: 30px;
}