{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container h-100 about-container">
        <div class="row h-100">
            <div  class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font home-title">
                    Hi there! We are WellGood Coffee.
                </h1>
                <div>
                    <h4>A little bit about us and what we do.</h4>
                    <p>
                        Welcome to the world of coffee roasting, where the magic of transforming raw coffee beans into rich, aromatic coffee begins. Roasting coffee is both an art and a science, requiring skill, precision, and a deep understanding of the beans and the process.
                    </p>
                    <h5>The Art of Roasting</h5>
                        <ul>
                            <li>Profile Development: Roasters develop specific roasting profiles to bring out the best characteristics of each bean. This includes adjusting temperature curves and roasting times.</li>
                            <li>Consistency: Ensuring each batch of coffee meets the desired profile requires meticulous control and repeatability.</li>
                            <li>Innovation: Experimentation with different roasting techniques and profiles to create unique and exciting flavors.</li>
                        </ul>
                </div>
                <div>
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}